@(file: org.fedoraproject.javadeptools.FileResult, classes: Iterable[org.fedoraproject.javadeptools.ClassResult],
    manifestEntries: Iterable[org.fedoraproject.javadeptools.ManifestResult]
)
@main("File artifact detail") {
    <h2>File - <tt>@file.path</tt> from package FIXME</h2>
    <h3>Contained classes</h3>
    <table id="class-table" class="table table-condensed">
        <tr>
            <th></th>
            <th>Class name</th>
        </tr>
        @for(clazz <- classes) {
            <tr>
                <td>@if(clazz.namespace){ @(clazz.namespace). }</td>
                <td>@clazz.className</td>
            </tr>
        }
    </table>
    <h3>Manifest</h3>
    @if(manifestEntries.nonEmpty) {
        <table class="table table-condensed">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            @for(entry <- manifestEntries) {
                <tr>
                    <td>@entry.key</td>
                    <td>@entry.value</td>
                </tr>
            }
        </table>
    } else {
        <div>No manifest file present</div>
    }
}