@(file: org.fedoraproject.javadeptools.model.FileArtifact)
@main("File artifact detail") {
    <h2>File - <tt>@file.getPath</tt> from package @file.getPkg.getName</h2>
    <h3>Contained classes</h3>
    <table id="class-table" class="table table-condensed">
        <tr>
            <th></th>
            <th>Class name</th>
        </tr>
        @for(clazz <- file.getClasses) {
            <tr>
                <td>@if(clazz.getPackageName){ @(clazz.getPackageName). }</td>
                <td>@clazz.getClassName</td>
            </tr>
        }
    </table>
    <h3>Manifest</h3>
    @if(file.getManifestEntries.size() > 0) {
        <table class="table table-condensed">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            @for(entry <- file.getManifestEntries) {
                <tr>
                    <td>@entry.getKey</td>
                    <td>@entry.getValue</td>
                </tr>
            }
        </table>
    } else {
        <div>No manifest file present</div>
    }
}