@(searchForm: Form[SearchData], collections: Iterable[org.fedoraproject.javadeptools.model.PackageCollection],
    currentCollection: org.fedoraproject.javadeptools.model.PackageCollection,
    results: Option[SearchResults]
    )(implicit request:play.api.mvc.RequestHeader, messages: Messages)
@import helper._
@import implicits._
@import org.fedoraproject.javadeptools.model.{ Package, FileArtifact }

@fileName(file: FileArtifact) = {
    <a title="@file.getPath" class="ellipsized"
       href="@routes.Application.fileArtifactDetail(file.getId)">
        @file.getPath.split("/").last
    </a>
}

@packageName(pkg: Package) = {
    <a href="@routes.Application.packageDetail(currentCollection.getName, pkg.getName)">
        @pkg.getName
    </a>
}

@main("Search for Java classes in Fedora", "search") {
    @form(action = routes.Application.index(1)) {
        <div>
            @select(searchForm("qtype"),
                    options(Map("classes" -> "Classes", "manifests" -> "Manifests")),
                    '_label -> "What to search",
                    'onChange -> "changeQueryType()")
            @select(searchForm("collection"),
                    options(collections.map(_.getName).toList),
                    '_label -> "Package collection")
        </div>
        <div>
            @inputText(searchForm("q"), 'autofocus -> "autofocus")
            @inputText(searchForm("q2"))
            <button type="submit">Search</button>
        </div>
    }

    @results match {
        case Some(ClassResults(page)) => {
            @paginate(page)
            <table id="class-table" class="table table-condensed">
                <tr>
                    <th></th>
                    <th>Java class</th>
                    <th>JAR name</th>
                    <th>Package name</th>
                </tr>
                @for(row <-page.content) {
                <tr>
                    <td class="ellipsized">@if(row.getPackageName){ @(row.getPackageName). }</td>
                    <td>@row.getClassName</td>
                    <td>@fileName(row.getFileArtifact)</td>
                    <td>@packageName(row.getFileArtifact.getPkg)</td>
                </tr>
                }
            </table>
        }
        case Some(ManifestResults(page)) => {
            @paginate(page)
            <table id="manifest-table" class="table table-condensed">
                <tr>
                    <th>JAR name</th>
                    <th>Package name</th>
                    <th>Header</th>
                    <th>Value</th>
                </tr>
                @for(row <-page.content) {
                <tr>
                    <td>@fileName(row.getFileArtifact)</td>
                    <td>@packageName(row.getFileArtifact.getPkg)</td>
                    <td class="manifest-header">@row.getKey</td>
                    <td class="manifest-value">@row.getValue</td>
                </tr>
                }
            </table>
        }
        case _ => {}
    }
}