@(searchForm: Form[SearchData], collections: Iterable[org.fedoraproject.javadeptools.model.PackageCollection],
    currentCollection: org.fedoraproject.javadeptools.model.PackageCollection,
    results: SearchResults
    )(implicit request:play.api.mvc.RequestHeader, messages: Messages)
@import helper._
@import implicits._

@main("Search for Java classes in Fedora", "search") {
    @*
    @form(action = routes.Application.index(1)) {
        @select(searchForm("qtype"), options(List("classes", "manifests")), '_label -> "What to search")
    }
    *@
    <form method="GET" action="@routes.Application.index(1)">
        <div>
            <label for="qtype">What to search:</label>
            <select id="query-type" name="qtype" onchange="changeQueryType()">
                <option value="classes" selected="selected">Classes</option>
                <option value="manifests">Manifest entries</option>
                @* TODO more *@
            </select>
            <label for="collection">Package collection:</label>
            <select name="collection">
                @for(collection <- collections) {
                    <option value="@collection.getName" @if(collection eq currentCollection) {selected="selected"}>
                        @collection.getName
                    </option>
                }
            </select>
        </div>
        <div>
            <label for="q"></label>
            <input type="text" id="primary-input" name="q" value="@request.getQueryString("q").getOrElse("")"
                   autofocus="autofocus"/>
            <label for="q2"></label>
            <input type="text" id="secondary-input" name="q2" value="@request.getQueryString("q2").getOrElse("")"/>
            <button type="submit">Search</button>
        </div>
    </form>
    @results.classEntries match {
        case Some(page) => {
            <div>Showing results from @page.from to @page.to of total @page.totalCount</div>
            @defining(request.getQueryString("q").getOrElse("")) { q =>
                <ul class="pagination">
                    @if(page.currentPage == 1) {
                        <li class="disabled"><a href="#">Previous</a></li>
                    } else {
                        <li>
                            <a href="@routes.Application.index(page.currentPage - 1, q, Some(currentCollection.getName))">Previous</a>
                        </li>
                    }
                    @if(page.currentPage > page.maxPage) {
                        <li class="disabled"><a href="#">Next</a></li>
                    } else {
                        <li>
                            <a href="@routes.Application.index(page.currentPage + 1, q, Some(currentCollection.getName))">Next</a>
                        </li>
                    }
                </ul>
            }
            <table id="class-table" class="table table-condensed">
                <tr>
                    <th></th>
                    <th>Java class</th>
                    <th>JAR name</th>
                    <th>Package name</th>
                </tr>
                @for(row <-page.content) {
                <tr>
                    <td>@if(row.getPackageName){ @(row.getPackageName). }</td>
                    <td>@row.getClassName</td>
                    <td>
                        <a alt="@row.getFileArtifact.getPath"
                           href="@routes.Application.fileArtifactDetail(row.getFileArtifact.getPkg.getName,
                                                                        row.getFileArtifact.getId)">
                            @row.getFileArtifact.getPath.split("/").last
                        </a>
                    </td>
                    <td>
                        <a href="@routes.Application.packageDetail(currentCollection.getName,
                                                                   row.getFileArtifact.getPkg.getName)">
                            @row.getFileArtifact.getPkg.getName
                        </a>
                    </td>
                </tr>
            }
            </table>
        }
        case None => {}
    }
}