@(page: Option[Page[org.fedoraproject.javadeptools.model.ClassEntry]])(implicit request:play.api.mvc.RequestHeader)

@main("Search for Java classes in Fedora", "search") {
    <form method="GET" action="@routes.Application.index(1)">
         <input type="text" name="q" value="@request.getQueryString("q").getOrElse("")"
                autofocus="autofocus"/>
         <button type="submit">Search</button>
    </form>
    @page match {
        case Some(r) => { @results(r) }
        case None => {}
    }
}