<configuration>
  <loggers>
    <root level="INFO">
      <appenderRef ref="console"/>
    </root>
    <logger name="org.hibernate" level="WARN"/>
  </loggers>
  <appenders>
    <console name="console" target="SYSTEM_OUT">
      <patternLayout
        pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
    </console>
  </appenders>
</configuration>